
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Nuevo</title>
</head>
<body>
    <div> 

        <form action="/Persona/CrearNuevo" method="post">

            <div>Apellido</div>
            <div><input type="text" name="apellido"  />  </div>

            <div>Nombre</div>
            <div><input type="text" name="nombre" />  </div>



            <div><input type="submit" value="Save" /></div>
        </form>
    </div>
</body>
</html>
